<head>
<title>I Travel I Show: User Edit</title>
<style>
	table { border: solid 1px #eee; border-spacing: 0px 0px; }
	td { border: solid 1px #eee; font-family: helvetica; font-size: 14px; }
</style>
<script>
function update() {
	ajx(
		'/ajax/admin/update',
		'condition='
			+ enc(dge('condition').innerHTML)
			+ '&user='
			+ enc(dge('user').value),
		function(err, res) {
			if (err) {
				return log('Fail to call update, err=' + jsn(err));
			}
			var out = JSON.parse(res);
			if (out.err) {
				return log('Fail to call update, err=' + jsn(out.err));
			}
			window.location = '/admin/users';
		}
	);
}
function insert() {
	ajx(
		'/ajax/admin/insert',
		'user='
			+ enc(dge('user').value),
		function(err, res) {
			if (err) {
				return log('Fail to call insert, err=' + jsn(err));
			}
			var out = JSON.parse(res);
			if (out.err) {
				return log('Fail to call insert, err=' + jsn(out.err));
			}
			window.location = '/admin/users';
		}
	);
}
function remove() {
	ajx(
		'/ajax/admin/remove',
		'condition='
			+ enc(dge('condition').innerHTML),
		function(err, res) {
			if (err) {
				return log('Fail to call remove, err=' + jsn(err));
			}
			var out = JSON.parse(res);
			if (out.err) {
				return log('Fail to call remove, err=' + jsn(out.err));
			}
			window.location = '/admin/users';
		}
	);
}
function ajx(url, params, cbErrRes) {
	log('ajx url=' + url + ' params=' + params);
	var xhr = new XMLHttpRequest();
	xhr.open('POST', url);
	xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
	//xhr.setRequestHeader('Content-Length', params.length);
	xhr.onreadystatechange = function () {
		var DONE = 4;
		var OK = 200;
		if (xhr.readyState != DONE) {
			return;
		}
		if (xhr.status != OK) {
			log('ajx url=' + url + ' params=' + params + ' fail');
			cbErrRes(new Error('Ajax faied = ' + xhr.readyState));
			return;
		}
		log('ajx url=' + url + ' params=' + params + ' succ res=' + xhr.responseText);
		cbErrRes(null, xhr.responseText);
	};
	xhr.send(params);
}
function enc(text, limit) {
	limit = limit || (128 * 1024);
	text = text.length > limit ? text.substring(0, limit) : text;
	return hex(unescape(encodeURIComponent(text)));
}
function hex(text) {
	var out = '';
	for (var pos = 0; pos < text.length; pos++) {
		var one = text.charCodeAt(pos).toString(16);
		out += one.length == 1 ? '0' + one : one;
	}
	return out;
}
function jsn(obj) {
	return JSON.stringify(obj);
}
var LogSizeLimit = 128 * 1024;
function log(msg) {
	var val = new Date().toJSON()  + ' ' + msg + '\r\n' + dge('log').value;
	dge('log').value = val.length > LogSizeLimit ? val.substring(0, LogSizeLimit - 3) + '...' : val;
}
var mapIdToElement = {};
function dge(id) {
	return mapIdToElement[id] || (mapIdToElement[id] = document.getElementById(id));
}
</script>
</head>
<body>
<p id='condition'><%= JSON.stringify(condition) %></p>
<p>
	<a href='javascript:update();'>Update</a>
	|
	<a href='javascript:insert();'>Insert</a>
	|
	<a href='javascript:remove();'>Remove</a>
</p>
<textarea cols='160' rows='25' id='user'><%= JSON.stringify(user) %></textarea>
<textarea id='log' cols=160 rows=25></textarea>
</body>