<html>
<head>
<title>I Travel I Show: Error</title>
</head>
<body>
<h1 style='color:red;'>Error: <%= message %></h1>
<table>
	<tr><td><a href='/welcome'>Welcome Page</a></td></tr>
	<tr><td><a href='/signin'>Sign In</a></td></tr>
</table>