<html>
<head>
<title>Map for I Travel I Show</title>
<style>
.address { width: 50% }
.button { width: 15%;  }
#map { width: 80%; height: 60% }
</style>
<!-- The key is a free key with limited usage -->
<script async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDdM9WHzBYj0poYcyPV9PpHPRSqvGqZesI&callback=mapInit'>
</script>
<script type='text/javascript'>
var map;
var geocoder;
var directionsDisplay;
var directionsService;
function mapInit() {
	log('mapInit');
	map = new google.maps.Map(dge('map'), {
		center: {lat: -34.397, lng: 150.644},
		zoom: 8
	});
	geocoder = new google.maps.Geocoder;
	directionsService = new google.maps.DirectionsService();
	directionsDisplay = new google.maps.DirectionsRenderer();
	directionsDisplay.setMap(map);
}
function geocodeClick(pos) {
	var addressValue = dge('address' + pos).value;
	log('geocodeClick addressValue=' + addressValue);
	geocoder.geocode( { address: addressValue }, function(results, status) {
		log('geocode response status=' + jsn(status) + ' result=' + jsn(results));
		if (status != google.maps.GeocoderStatus.OK) {
			log('geocode failed for status');
			return
		}
		if (!results
			|| !results[0]
			|| !results[0].geometry
			|| !results[0].geometry.location) {
			log('geocode failed for locattion');
		}
		var location = results[0].geometry.location;
		log('map.setCenter location=' + jsn(location));
		map.setCenter(location);
		var marker = new google.maps.Marker({
			map: map,
			position: location
		});
	});
}
var NumInput = 7;
function clearClick() {
	for (var pos = 0; pos < NumInput; pos++) {
		dge('address' + pos).value = '';
	}
}
function planClick() {
	log('planClick');
	var points = [];
	for (var pos = 0; pos < NumInput; pos++) {
		var name = dge('address' + pos).value;
		if (name == '') {
			continue;
		}
		points.push({ name: name });
	}
	var num = points.length;
	if (num < 3) {
		log('plan: num < 3, num=' + num);
		return;
	}
	var remain = num;
	for (var pos = 0; pos < num; pos++) {
		planOne(points[pos]);
		function planOne(point) {
			geocoder.geocode( { address: point.name }, function(results, status) {
				if (status != google.maps.GeocoderStatus.OK) {
					log('geocode name=' + point.name + ' failed for status');
					return
				}
				if (!results
					|| !results[0]
					|| !results[0].geometry
					|| !results[0].geometry.location) {
					log('geocode name=' + point.name + ' failed for locattion');
				}
				var location = results[0].geometry.location;
				point.lng = location.lng();
				point.lat = location.lat();
				log('geocode response name=' + point.name + ' lng=' + point.lng + ' lat=' + point.lat);
				remain--;
				if (remain != 0) {
					return;
				}
				planRun(points);
			});
		}
	}
}
function planRun(points) {
	var num = points.length;
	var dist = [];
	for (var pos = 0; pos < num; pos++) {
		dist[pos] = [];
	}
	var min = 0;
	for (var src = 0; src < num; src++) {
		dist[src][src] = 0;
		for (var tgt = src + 1; tgt < num; tgt++) {
			var d = sphericalDistanceMeterHaversine(
				points[src].lng,
				points[src].lat,
				points[tgt].lng,
				points[tgt].lat
			); 
			dist[src][tgt] = dist[tgt][src] = d;
			min += d;
		}
	}
	min *= 2;
	var choices = [];
	var sum = [];
	var best;
	/* Only Chrome and Firefox support the new Generator syntax
	function* planner(pos) {
		if (pos > 0 && sum[pos - 1] > min) {
			return;
		}
		if (pos == num) {
			min = sum[pos - 1];
			best = choices.slice(0);
			log('min=' + min + ' choices=' + jsn(choices));
			return;
		}
		for (var choice = 0; choice < num; choice++) {
			if (points[choice].used) {
				continue;
			}
			points[choice].used = true;
			choices[pos] = choice;
			sum[pos] = pos == 0 ? 0 : sum[pos - 1] + dist[choices[pos - 1]][choice];
			yield pos + 1;
			points[choice].used = false;
		}
	}
	*/
	function planner(pos) {
		var step = 0;
		var choice;
		return {
			next: function() {
				for(;;) {
					switch (step) {
						case -1: {
							return { done: true };
						}
						case 0: {
							if (pos > 0 && sum[pos - 1] > min) {
								step = -1;
								return { done: true };
							}
							if (pos == num) {
								min = sum[pos - 1];
								best = choices.slice(0);
								log('min=' + min + ' choices=' + jsn(choices));
								step = -1;
								return { done: true };
							}
							choice = 0;
							step = 1;
							break;
						}
						case 1: {
							if (choice < num) {
								step = 3;
								break;
							}
							step = 5;
							break;
						}
						case 2: {
							choice++;
							step = 1;
							break;
						}
						case 3: {
							if (points[choice].used) {
								step = 2;
								break;
							}
							points[choice].used = true;
							choices[pos] = choice;
							sum[pos] = pos == 0 ? 0 : sum[pos - 1] + dist[choices[pos - 1]][choice];
							step = 4;
							return { done: false, value : pos + 1 };
						}
						case 4: {
							points[choice].used = false;
							step = 2;
							break;
						}
						case 5: {
							step = -1;
							return { done: true };
						}
					}
				}
			}
		}
	}
	var stack = [];
	var top = 0;
	stack[top++] = planner(0);
	while (top > 0) {
		var curr = stack[top - 1].next();
		if (curr.done) {
			top--;
			continue;
		}
		stack[top++] = planner(curr.value);
	}
	if (!best) {
		log('planRun: best is null');
		return;
	}
	for (pos = 0; pos < NumInput; pos++) {
		dge('address' + pos).value = pos < num ? points[best[pos]].name : '';
	}
}
var EarthRadiusMeter = 6378160;
var DegreeToRadian = Math.PI / 180;
// https://en.wikipedia.org/wiki/Great-circle_distance
function sphericalDistanceMeter(lon1, lat1, lon2, lat2) {
	var l1 = lon1 * DegreeToRadian;
	var p1 = lat1 * DegreeToRadian;
	var l2 = lon2 * DegreeToRadian;
	var p2 = lat2 * DegreeToRadian;
	return EarthRadiusMeter * Math.acos(
		Math.sin(p1) * Math.sin(p2) + Math.cos(p1) * Math.cos(p2) * Math.cos(l2 - l1));
}
function sphericalDistanceMeterHaversine(lon1, lat1, lon2, lat2) {
	var l1 = lon1 * DegreeToRadian;
	var p1 = lat1 * DegreeToRadian;
	var l2 = lon2 * DegreeToRadian;
	var p2 = lat2 * DegreeToRadian;
	var dl = l2 - l1;
	var dp = p2 - p1;
	var sinDp2 = Math.sin(dp / 2);
	var sinDl2 = Math.sin(dl / 2);
	var a = sinDp2 * sinDp2 + Math.cos(p1) * Math.cos(p2) * sinDl2 * sinDl2;
	var ds = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a)); // = 2 * Math.asin(Math.sqrt(a))
	return EarthRadiusMeter * ds;
}
function routeClick() {
	log('routeClick');
	var points = [];
	for (var pos = 0; pos < NumInput; pos++) {
		var point = dge('address' + pos).value;
		if (point == '') {
			continue;
		}
		points.push(point);
	}
	var num = points.length;
	if (num < 2) {
		log('route: num < 2, num=' + num);
		return;
	}
	var start = points[0];
	var end = points[num - 1];
	var way = [];
	for (var pos = 1; pos < num - 1; pos++) {
		way.push({
			location: points[pos],
			stopover: true
		});
	}
	var year = 2016;
	var month = 1;
	var day = 2;
	var request = {
		origin:start,
		destination:end,
		waypoints: way,
		// It looks like not support TRANSIT in Europe
		// travelMode: google.maps.TravelMode.TRANSIT,
		travelMode: google.maps.TravelMode.DRIVING,
		transitOptions: {
			departureTime: new Date(Date.UTC(year, month - 1, day)) 
		},
		unitSystem: google.maps.UnitSystem.METRIC
	};
	directionsService.route(request, function(result, status) {
		log('route response status=' + jsn(status)/* + ' result=' + jsn(result)*/);
		if (status != google.maps.DirectionsStatus.OK) {
			log('route failed for status');
			return;
		}
		directionsDisplay.setDirections(result);
	});
}
function jsn(obj) {
	return JSON.stringify(obj);
}
var LogSizeLimit = 128 * 1024;
function log(msg) {
	var val = new Date().toJSON()  + ' ' + msg + '\r\n' + dge('log').value;
	dge('log').value = val.length > LogSizeLimit ? val.substring(0, LogSizeLimit - 3) + '...' : val;
}
var mapIdToElement = {};
function dge(id) {
	return mapIdToElement[id] || (mapIdToElement[id] = document.getElementById(id));
}
</script>
</head>
<body>
<div>
	<input id='address0' class='address' value='Paris, France' />
	<input id='geocode0' type='button' value='Geocode' class='button' onclick='geocodeClick(0)' />
</div>
<div>
	<input id='address1' class='address' value='Frankfurt, Germany' />
	<input id='geocode1' type='button' value='Geocode' class='button' onclick='geocodeClick(1)' />
</div>
<div>
	<input id='address2' class='address' value='Rome, Italy' />
	<input id='geocode2' type='button' value='Geocode' class='button' onclick='geocodeClick(2)' />
</div>
<div>
	<input id='address3' class='address' value='Madrid, Spain' />
	<input id='geocode3' type='button' value='Geocode' class='button' onclick='geocodeClick(3)' />
</div>
<div>
	<input id='address4' class='address' value='' />
	<input id='geocode4' type='button' value='Geocode' class='button' onclick='geocodeClick(4)' />
</div>
<div>
	<input id='address5' class='address' value='' />
	<input id='geocode5' type='button' value='Geocode' class='button' onclick='geocodeClick(5)' />
</div>
<div>
	<input id='address6' class='address' value='' />
	<input id='geocode6' type='button' value='Geocode' class='button' onclick='geocodeClick(6)' />
</div>
<div>
	<input id='clear' type='button' value='Clear' class='button' onclick='clearClick()' />
	<input id='plan' type='button' value='Plan' class='button' onclick='planClick()' />
	<input id='route' type='button' value='Route' class='button' onclick='routeClick()' />
</div>
<div id='map'></div>
<textarea id='log' cols=160 rows=25></textarea>
</body>