<html>
<head>
<title>I Travel I Show: Map Marker</title>
<style>
#map { width: 80%; height: 60% }
</style>
<!-- The key is a free key with limited usage -->
<script async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDdM9WHzBYj0poYcyPV9PpHPRSqvGqZesI&callback=mapInit'>
</script>
<script type='text/javascript'>
var map;
function mapInit() {
	log('mapInit');
	var center = {lat: <%= lat %>, lng: <%= lng %> };
	map = new google.maps.Map(dge('map'), {
		center: center,
		zoom: 8
	});
	var marker = new google.maps.Marker({
 		position: center,
		map: map,
		title: '<%= txt %>'
  });
}
var LogSizeLimit = 128 * 1024;
function log(msg) {
	var val = new Date().toJSON()  + ' ' + msg + '\r\n' + dge('log').value;
	dge('log').value = val.length > LogSizeLimit ? val.substring(0, LogSizeLimit - 3) + '...' : val;
}
var mapIdToElement = {};
function dge(id) {
	return mapIdToElement[id] || (mapIdToElement[id] = document.getElementById(id));
}
</script>
</head>
<body>
<div id='map'></div>
<textarea id='log' cols=160 rows=25></textarea>
</body>