<html>
<head>
<title>I Travel I Show: Not Signed In</title>
<style>
	table { border: solid 1px #eee; border-spacing: 0px 0px; }
	td { border: solid 1px #eee; font-family: helvetica; font-size: 14px; }
</style>
</head>
<body>
<h1>You are not signed in</h1>
<table>
	<tr><td><a href='/signin'>Sign In</a></td></tr>
	<tr><td><a href='/signup'>Sign Up New User</a></td></tr>
</table>