<head>
<title>I Travel I Show: User List</title>
<style>
	table { border: solid 1px #eee; border-spacing: 0px 0px; }
	td { border: solid 1px #eee; font-family: helvetica; font-size: 14px; }
</style>
</head>
<body>
<table>
	<tr>
		<% var start = Math.max(0, page - 20); %>
		<% var end = page + 20 %>
		<% for (var p = start; p <= end; p++) { %>
			<td><a href='/admin/users?page=<%= p %>'><%= p %></a></td>
		<% } %>
	</tr>
</table>
<h1>Users</h1>
<table>
	<tr>
		<td>Index</td>
		<td>ID</td>
		<td>Display Name</td>
		<td>Type</td>
		<td>Longitude</td>
		<td>Latitude</td>
		<td>Status</td>
		<td>Group</td>
		<td>Chat Group</td>
		<td>Has Password</td>
		<td>Email Verified</td>
		<td>Avator</td>
		<td>Admin</td>
		<!-- <td>JSON</td> -->
	</tr>
	<%
	for (var pos = 0; pos < users.length; pos++)	{
		var user = users[pos];
		var markerUrl = !user.hasLoc
			? ''
			: '/marker?lng='
				+ user.location.coordinates[0]
				+ '&lat='
				+ user.location.coordinates[1]
				+ '&txt='
				+ (user.dispname || user._id);
		%>
		<tr>
			<td><%= page * 100 + pos %></td>
			<td>
				<%
				if (user._id && (typeof user._id) == "string" && user._id != '') {
					%>
					<a href='/admin/edit?id=<%= user._id %>'><%= user._id %></a>
					<%
				} else {
					%>
					<%= user._id %>
					<%
				}
				%>
			</td>
			<td><%= user.dispname %></td>
			<td><%= user.type %></td>
			<%
			if (user.hasLoc) {
				%>
				<td><a target='_blank' href='<%= markerUrl %>'><%= user.location.coordinates[0] %></td>
				<td><a target='_blank' href='<%= markerUrl %>'><%= user.location.coordinates[1] %></td>
				<%
			} else {
				%>
				<td></td>
				<td></td>
				<%
			}
			%>
			<td><%= user.status %></td>
			<td><%= user.group %></td>
			<td><%= user.chatgroup %></td>
			<td><%= user.passwordEncrypted ? 'yes' : '' %></td>
			<td><%= user.emailVerified %></td>
			<td><%= user.avator %></td>
			<td><%= user.isAdmin %></td>
			<!--
			<td><%= JSON.stringify(user) %></td>
			-->
		</tr>
		<%
	}
	%>
</table>
</body>