<html>
<head>
<title>I Travel I Show: Welcome</title>
<style>
	table { border: solid 1px #eee; border-spacing: 0px 0px; }
	td { border: solid 1px #eee; font-family: helvetica; font-size: 14px; }
</style>
</head>
<body>
<h1>Welcome</h1>
<h2>Currently signed in user</h2>
<table>
	<tr><td>Unique ID</td><td><%= loginUser._id %></td></tr>
	<tr><td>Display name</td><td><%= loginUser.dispname %></td></tr>
</table>
<h2>Operations</h2>
<table>
	<tr><td><a href='/signout'>Sign Out</a></td></tr>
	<tr><td><a href='/map'>Travel Map Planner</a></td></tr>
</table>
<% if (loginUser.isAdmin) { %>
	<h2>Admin Operations</h2>
	<table>
		<tr><td><a href='/admin/users'>User List</a></td></tr>
	</table>
<% } %>
</body>
