<html>
<head>
<style>
table { border: solid 1px #eee; border-spacing: 0px 0px; }
td	{ border: solid 1px #eee; font-family: helvetica; font-size: 14px; }
</style>
<script>
function ajax(url, succ) {
	var xhr = new XMLHttpRequest();
	xhr.open('get', url);
	xhr.onreadystatechange = function () {
		var DONE = 4;
		var OK = 200;
		if (xhr.readyState != DONE) {
			return;
		}
		if (xhr.status != OK) {
			alert('Error: ' + xhr.status);
			return;
		}
		succ(xhr.responseText);
	};
	xhr.send(null);
}
function ajaxHello() {
	ajax('/ajax/hello?id=' + Math.random(), function(resp) {
		document.getElementById('ajaxResp').value += resp + '\r\n';
	});
}
function clearResp() {
	document.getElementById('ajaxResp').value = '';
}
</script>
</head>
<body>
<h1>Home Page using EJS</h1>
<a href='/about'>About</a><br/>
<h2>I Travel I Show</h2>
<h2>Ajax</h2>
<input type=button value='Hello' onclick='javascript:ajaxHello();' />
<input type=button value='Clear' onclick='javascript:clearResp();' />
<br/>
<textarea id=ajaxResp rows=12 cols=80></textarea>
<h2>Query</h2>
<%= JSON.stringify(query) %>
<h2>This</h2>
<table>
	<% for (var item in this) { %>
		<tr>
		<td>
			<%= item %>
		</td>
		<td>
			<%= this[item] %>
		</td>
		</tr>
	<% } %>
</table>
</body>
</body>