<html>
<head>
<title>Sign In an Existing User for I Travel I Show</title>
<style>
	table { border: solid 1px #eee; border-spacing: 0px 0px; }
	td { border: solid 1px #eee; font-family: helvetica; font-size: 14px; }
	.col_key { vertical-align:top; white-space: nowrap; }
	.col_inp { vertical-align:top; white-space: nowrap; }
	.col_res { vertical-align:top; }
	.inp { width: 300px; }
	.res_okay { color: green }
	.res_fail { color: red }
	.submit { width: 300px; background-color: #8f8; }
</style>
</head>
<script>
function onLoad() {
	log('onLoad');
	dge('nameInput').focus();
}
function signin() {
	var url = '/ajax/signin?name=' + enc(dge('nameInput').value)
		+ '&pass=' + enc(dge('passInput').value);
	ajx(url, function(err, res) {
		if (err) {
			return resFail('signinRes', 'Fail to call signin.');
		}
		var out = JSON.parse(res);
		if (out.err) {
			return resFail('signinRes', 'Fail to signin for reason: ' + jsn(out.err));
		}
		resOkay('signinRes', 'Successfuly signed in. Redirecting you to welcome page...');
		window.location = '/welcome';
	});
}

function resOkay(id, text) {
	dge(id).className = 'res_okay';
	dge(id).innerHTML = text;
}
function resFail(id, text) {
	dge(id).className = 'res_fail';
	dge(id).innerHTML = text;
}
var mapIdToElement = {};
function dge(id) {
	return mapIdToElement[id] || (mapIdToElement[id] = document.getElementById(id));
}
// TODO: replace it with some better Ajax library
function ajx(url, cbErrRes) {
	log('ajx url=' + url);
	var xhr = new XMLHttpRequest();
	xhr.open('get', url);
	xhr.onreadystatechange = function () {
		var DONE = 4;
		var OK = 200;
		if (xhr.readyState != DONE) {
			return;
		}
		if (xhr.status != OK) {
			log('ajx url=' + url + ' fail');
			cbErrRes(new Error("Ajax faied = " + xhr.readyState));
			return;
		}
		log('ajx url=' + url + ' succ res=' + xhr.responseText);
		cbErrRes(null, xhr.responseText);
	};
	xhr.send(null);
}
var LogSizeLimit = 128 * 1024;
function log(msg) {
	var val = new Date().toJSON()  + ' ' + msg + '\r\n' + dge('log').value;
	dge('log').value = val.length > LogSizeLimit ? val.substring(0, LogSizeLimit - 3) + '...' : val;
}
function enc(text, limit) {
	limit = limit || 250;
	text = text.length > limit ? text.substring(0, limit) : text;
	return hex(unescape(encodeURIComponent(text)));
}
// Maybe use Base64
function hex(text) {
	var out = '';
	for (var pos = 0; pos < text.length; pos++) {
		var one = text.charCodeAt(pos).toString(16);
		out += one.length == 1 ? '0' + one : one;
	}
	return out;
}
function jsn(obj) {
	return JSON.stringify(obj);
}
</script>
<body onload='javascript:onLoad();'>
<h1>User Signin</h1>
<table>
	<tr>
		<td class='col_key'>User Name</td>
		<td class='col_inp'><input id='nameInput' value='' class='inp' /></td>
		<td class='col_res'></td>
	</tr>
	<tr>
		<td class='col_key'>Password</td>
		<td class='col_inp'><input id='passInput' value='' type='password' class='inp' /></td>
		<td class='col_res'></td>
	</tr>
	<tr>
		<td class='col_key'>Submit</td>
		<td class='col_inp'><input value='Sign In' type='button' class='submit' onclick='javascript:signin();' /></td>
		<td class='col_res'><div id='signinRes'></div></td>
	</tr>
</table>
<a href=/signup>Sign Up New User</a><br/>
<textarea id='log' cols=160 rows=25></textarea>
</body>
</html>