<html>
<head>
<title>Sign Up New User for I Travel I Show</title>
<style>
	table { border: solid 1px #eee; border-spacing: 0px 0px; }
	td { border: solid 1px #eee; font-family: helvetica; font-size: 14px; }
	.col_key { vertical-align:top; white-space: nowrap; }
	.col_inp { vertical-align:top; white-space: nowrap; }
	.col_act { vertical-align:top; }
	.col_res { vertical-align:top; }
	.inp { width: 300px; }
	.res_okay { color: green }
	.res_fail { color: red }
	.submit { width: 300px; background-color: #8f8; }
</style>
</head>
<script>
function onLoad() {
	log('onLoad');
	dge('nameInput').focus();
}
function nameChk() {
	ajx('/ajax/nameChk?name=' + enc(dge('nameInput').value), function(err, res) {
		if (err) {
			return resFail('nameChkRes', 'Fail to call nameChk.');
		}
		var out = JSON.parse(res);
		if (out.err) {
			return resFail('nameChkRes', 'The user name has been used. Please try another one.');
		}
		resOkay('nameChkRes', 'The user name is not used. It is good to use it now.');
	});
}
function passChk() {
	ajx('/ajax/passChk?pass=' + enc(dge('passInput').value), function(err, res) {
		if (err) {
			return resFail('passChkRes', 'Fail to call passChk');
		}
		var out = JSON.parse(res);
		if (out.err) {
			return resFail('passChkRes', 'The password does not meet security requirements, for the reason: '+ jsn(out.err));
		}
		resOkay('passChkRes', 'The password meets security requirements.');
	});
}
function retypeChk() {
	if (dge('retypeInput').value != dge('passInput').value) {
		return resFail('retypeChkRes', 'The retyped password is not equal to the password');
	} 
	resOkay('retypeChkRes', 'The retyped password is equal to the password');
}
function captchaRegen() {
	ajx('/ajax/captchaRegen', function(err, res) {
		if (err) {
			return resFail('captchaRegenRes', 'Fail to call captchaRegen');
		}
		var out = JSON.parse(res);
		if (out.err) {
			return resFail('captchaRegenRes', 'Fail to regenerate captcha image for the reason: '+ jsn(out.err));
		}
		resOkay('captchaRegenRes', 'Successfully regenerated a new captcha image.');
		dge('captchaImg').src = '/captcha.jpg?refresh=' + Math.random();
	});
}
function captchaChk() {
	ajx('/ajax/captchaChk?captcha=' + enc(dge('captchaInput').value), function(err, res) {
		if (err) {
			return resFail('captchaChkRes', 'Fail to call captchaChk.');
		}
		var out = JSON.parse(res);
		if (out.err) {
			return resFail('captchaChkRes', 'The captcha code in not correct.');
		}
		resOkay('captchaChkRes', 'The captcha code is correct.');
	});
}
function emailSend() {
	ajx('/ajax/emailSend?email=' + enc(dge('emailInput').value), function(err, res) {
		if (err) {
			return resFail('emailSendRes', 'Fail to call emailSend');
		}
		var out = JSON.parse(res);
		if (out.err) {
			return resFail('emailSendRes', 'Fail to send email verification code for the reason: '+ jsn(out.err));
		}
		resOkay('emailSendRes', 'Successfully sent verification code to your email. Please check your mailbox.');
	});
}
function emailCodeChk() {
	ajx('/ajax/emailCodeChk?emailCode=' + enc(dge('emailCodeInput').value), function(err, res) {
		if (err) {
			return resFail('emailCodeChkRes', 'Fail to call emailCodeChk.');
		}
		var out = JSON.parse(res);
		if (out.err) {
			return resFail('emailCodeChkRes', 'The email verification code is not correct for reason: '+ jsn(out.err));
		}
		resOkay('emailCodeChkRes', 'The email verification code is correct.');
	});
}

function signup() {
	if (dge('retypeInput').value != dge('passInput').value) {
		return resFail('signupRes', 'The retyped password is not equal to the password');
	} 
	var url = '/ajax/signup?name=' + enc(dge('nameInput').value)
		+ '&pass=' + enc(dge('passInput').value)
		+ '&captcha=' + enc(dge('captchaInput').value)
		+ '&emailCode=' + enc(dge('emailCodeInput').value);
	ajx(url, function(err, res) {
		if (err) {
			return resFail('signupRes', 'Fail to call signup.');
		}
		var out = JSON.parse(res);
		if (out.err) {
			return resFail('signupRes', 'Fail to signup for reason: '+ jsn(out.err));
		}
		resOkay('signupRes', 'Successfuly signed up. Redirecting you to welcome page...');
		window.location = '/welcome';
	});
}

function resOkay(id, text) {
	dge(id).className = 'res_okay';
	dge(id).innerHTML = text;
}
function resFail(id, text) {
	dge(id).className = 'res_fail';
	dge(id).innerHTML = text;
}
var mapIdToElement = {};
function dge(id) {
	return mapIdToElement[id] || (mapIdToElement[id] = document.getElementById(id));
}
// TODO: replace it with some better Ajax library
function ajx(url, cbErrRes) {
	log('ajx url=' + url);
	var xhr = new XMLHttpRequest();
	xhr.open('get', url);
	xhr.onreadystatechange = function () {
		var DONE = 4;
		var OK = 200;
		if (xhr.readyState != DONE) {
			return;
		}
		if (xhr.status != OK) {
			log('ajx url=' + url + ' fail');
			cbErrRes(new Error("Ajax faied = " + xhr.readyState));
			return;
		}
		log('ajx url=' + url + ' succ res=' + xhr.responseText);
		cbErrRes(null, xhr.responseText);
	};
	xhr.send(null);
}
var LogSizeLimit = 128 * 1024;
function log(msg) {
	var val = new Date().toJSON()  + ' ' + msg + '\r\n' + dge('log').value;
	dge('log').value = val.length > LogSizeLimit ? val.substring(0, LogSizeLimit - 3) + '...' : val;
}
function enc(text, limit) {
	limit = limit || 250;
	text = text.length > limit ? text.substring(0, limit) : text;
	return hex(unescape(encodeURIComponent(text)));
}
// Maybe use Base64
function hex(text) {
	var out = '';
	for (var pos = 0; pos < text.length; pos++) {
		var one = text.charCodeAt(pos).toString(16);
		out += one.length == 1 ? '0' + one : one;
	}
	return out;
}
function jsn(obj) {
	return JSON.stringify(obj);
}
</script>
<body onload='javascript:onLoad();'>
<h1>User Signup</h1>
<table>
	<tr>
		<td class='col_key'>User Name</td>
		<td class='col_inp'><input id='nameInput' value='' class='inp' /></td>
		<td class='col_act'><a href='javascript:nameChk();'>Check whether the user name is being used</a></td>
		<td class='col_res'><div id='nameChkRes'></div></td>
	</tr>
	<tr>
		<td class='col_key'>Password</td>
		<td class='col_inp'><input id='passInput' value='' type='password' class='inp' /></td>
		<td class='col_act'><a href='javascript:passChk();'>Check whether the password meets security requirements</a></td>
		<td class='col_res'><div id='passChkRes'></div></td>
	</tr>
	<tr>
		<td class='col_key'>Password Retyped</td>
		<td class='col_inp'><input id='retypeInput' value='' type='password' class='inp' /></td>
		<td class='col_act'><a href='javascript:retypeChk();'>Check whether the retyped password meets the password</a></td>
		<td class='col_res'><div id='retypeChkRes'></div></td>
	</tr>
	<tr>
		<td class='col_key'>Captcha Image<br/>(case insensitive)</td>
		<td class='col_inp'><img src='/captcha.jpg' width='200px' height='150px' id='captchaImg' /></td>
		<td class='col_act'><a href='javascript:captchaRegen();'>Generate another image</a></td>
		<td class='col_res'><div id='captchaRegenRes'></div></td>
	</tr>
	<tr>
		<td class='col_key'>Captcha Code</td>
		<td class='col_inp'><input id='captchaInput' value='' class='inp' /></td>
		<td class='col_act'><a href='javascript:captchaChk();'>Check whether the captcha code is correct</a></td>
		<td class='col_res'><div id='captchaChkRes'></div></td>
	</tr>
	<tr>
		<td class='col_key'>Email</td>
		<td class='col_inp'><input id='emailInput' value='' class='inp' /></td>
		<td class='col_act'><a href='javascript:emailSend();'>Send verification code to the email</a></td>
		<td class='col_res'><div id='emailSendRes'></div></td>
	</tr>
	<tr>
		<td class='col_key'>Email Code</td>
		<td class='col_inp'><input id='emailCodeInput' value='' class='inp' /></td>
		<td class='col_act'><a href='javascript:emailCodeChk();'>Check whether the email verification code is coreect</a></td>
		<td class='col_res'><div id='emailCodeChkRes'></div></td>
	</tr>
	<tr>
		<td class='col_key'>Submit</td>
		<td class='col_inp'><input value='Sign Up' type='button' class='submit' onclick='javascript:signup();' /></td>
		<td class='col_act'></td>
		<td class='col_res'><div id='signupRes'></div></td>
	</tr>
</table>
<a href=/signin>Sign In</a></br>
<textarea id='log' cols=160 rows=25></textarea>
</body>
</html>